@import "../node_modules/@arbetsmarknad/components/tailwind.css";
@source "../node_modules/@arbetsmarknad/components";

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
